{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-top: 4rem">
    <hr>
    <h5><strong>Name:</strong> {{object.name}}</h5>
    <h5><strong>Manager:</strong> {{object.manager.first_name}}</h5>
    <br>
    <h1>Employees under this department</h1>
    <table class = 'table align-items-center table-flush'>
        <thead class='thead-dark'>
            <tr>
                <th >Employee Name</th>
                <th >Employee ID</th>
                <th >Designation</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object.employeesUnder.all %}
            <tr>
                <td><a href="{% url 'accounts:detail_user' pk=item.pk %}">{{ item.first_name }}</a></td>
                <td>{{ item.pk }}</td>
                <td>{{ item.designation.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}