{% extends "base.html" %}

{% block content %}
<div class="container px-5 py-4">
    <div class="row">
        <h5 class="display-4"><strong>Name:</strong> {{object.name}}</h5>
    </div>
    <div class="row">
        <h5 class="display-4"><strong>Manager:</strong> {{object.manager.first_name}}</h5>
    </div>
    <br>
    <div class="row">
        <h4>Employees under this department</h4>
    </div>
    <div class="row">
        <table class='table align-items-center'>
            <thead class='thead-light'>
                <tr>
                    <th>Employee Name</th>
                    <th>Employee ID</th>
                    <th>Designation</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object.employeesUnder.all %}
                <tr>
                    <td><a href="{% url 'accounts:detail_user' pk=item.pk %}">{{ item.first_name }}</a></td>
                    <td>{{ item.pk }}</td>
                    <td>{{ item.designation.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}