{% extends "base.html" %}

{% block content %}
<div class="container px-5 py-4">
    <h4>List of My Dependents</h4>
    <table class = 'table align-items-center table-flush'>
        <thead class='thead-light'>
            <tr>
                <th >Dependent Name</th>
                <th >Relation</th>
                <th >Mobile No</th>
            </tr>
        </thead>
        <tbody>
            {% for item in dependent_list.all %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.relation }}</td>
                <td>{{ item.mobileno }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}