{% extends "base.html" %}

{% block content %}
<div class="container px-5 py-4">
    <h5 class="display-4"><strong>Name:</strong> {{object.name}}</h5>
    <h4>Employees under this designation:</h4>
    <table class = 'table align-items-center table-flush'>
        <thead class='thead-light'>
            <tr>
                <th >Employee Name</th>
                <th >Employee ID</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object.employeesWith.all %}
            <tr>
                <td><a href="{% url 'accounts:detail_user' pk=item.pk %}">{{ item.first_name }}</a></td>
                <td>{{ item.pk }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}