{% extends "base.html" %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block content %}
<div class="container" style="margin-top: 2rem">
    <h1>List of Employees</h1>
    <form method="get">
        <div class="row">
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.username.label_tag }}
                {% render_field filter.form.username class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.first_name.label_tag }}
                {% render_field filter.form.first_name class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.last_name.label_tag }}
                {% render_field filter.form.last_name class="form-control" %}
            </div>
            <button class='btn btn-primary' style="height: 3rem; margin-top: 1rem" type="submit">Search</button>
        </div>
    </form>
    <table class = 'table align-items-center table-flush'>
        <thead class='thead-dark'>
            <tr>
                <th >Employee Name</th>
                <th >Employee ID</th>
                <th >Validated</th>
                <th ></th>
            </tr>
        </thead>
        <tbody>
            {% for item in filter.qs %}
            <tr>
                <td><a href="{% url 'accounts:detail_user' pk=item.pk %}">{{ item.username }}</a></td>
                <td>{{ item.pk }}</td>
                {% if item.is_approved %}
                <td>Yes</td>  
                {% else %}
                <td>No</td>  
                {% endif %}
                <td>
                    <form method="POST" action="{% url 'accounts:delete_profile' pk=item.pk %}">
                        {% csrf_token %}
                        <button class='btn btn-danger'>Delete</button>
                     </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}