{% extends "base.html" %}

{% block content %}
<div class="container px-5 py-4">
    <table class = 'table align-items-center table-flush'>
        <thead class='thead-light'>
            <tr>
                <th >Employee Name</th>
                <th >Employee ID</th>
                <th >Salary</th>
                <th >Date</th>
                <th ></th>
            </tr>
        </thead>
        <tbody>
            {% for item in salary_list.all %}
            <tr>
                <td><a href="{% url 'accounts:detail_user' pk=item.emp.pk %}">{{ item.emp }}</a></td>
                <td>{{ item.emp.pk }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.date|date:"M d, Y" }}</td>
                <td><a href="{% url 'salary:detail_salary' pk=item.pk %}">Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}