<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>PaySlip</title>
</head>
<body>
    <div class="container">
        <p class="text-center my-1" style="font-size: 2em">XYZ Company</p>
        <span class="font-weight-bold">Employee Name: </span><span>{{ object.emp.first_name }} {{ object.emp.last_name }}</span><br>
        <span class="font-weight-bold">Designation: </span><span>{{ object.emp.designation.name }}</span><br>
        <span class="font-weight-bold">EID: </span><span>{{ object.emp.pk }}</span><br>
        <span class="font-weight-bold">Date: </span><span>{{ object.date|date:"M d, Y" }}</span><br><br>
        <table class="table align-items-center table-bordered">
            <thead>
                <tr>
                    <th>Earnings</th>
                    <td></td>
                    <th>Deductions</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-left">Basic & DA</td>
                    <td class="text-right">{{ basic }}</td>
                    <td class="text-left">Provident Fund</td>
                    <td class="text-right">{{ pf }}</td>
                </tr>
                <tr>
                    <td class="text-left">HRA</td>
                    <td class="text-right">{{ hra }}</td>
                    <td class="text-left">ESI</td>
                    <td class="text-right">{{ esi }}</td>
                </tr>
                <tr>
                    <td class="text-left">Conveyance</td>
                    <td class="text-right">{{ con }}</td>
                    <td class="text-left">Loan</td>
                    <td class="text-right">-</td>
                </tr>
                <tr>
                    <td class="text-left"></td>
                    <td class="text-right"></td>
                    <td class="text-left">Professional Tax</td>
                    <td class="text-right">-</td>
                </tr>
                <tr>
                    <td class="text-left"></td>
                    <td class="text-right"></td>
                    <td class="text-left">TSD/IT</td>
                    <td class="text-right">-</td>
                </tr>
                <tr>
                    <td class="text-left"></td>
                    <td class="text-right"></td>
                    <td class="text-left"></td>
                    <td class="text-right"></td>
                </tr>
                <tr>
                    <td class="text-left">Total</td>
                    <td class="text-right">{{ tot }}</td>
                    <td class="text-left">Total Deduction</td>
                    <td class="text-right">{{ ded }}</td>
                </tr>
                <tr>
                    <td class="text-left"></td>
                    <td class="text-right"></td>
                    <td class="text-left">Net Salary</td>
                    <td class="text-right">{{ net }}</td>
                </tr>
            </tbody>
        </table>
        <p class="text-center" style="font-size: 0.8em">Note: This is a system generated pay-slip and does not require seal and signature</p>
    </div>
</body>
</html>